<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="OrbeonSubmittedTest">
	<test name="OrbeonSubmittedTest" enabled="true"
		preserve-order="true">
		<groups>
			<run>
				<include name="jsonTests" />
			</run>
		</groups>
		<classes>
			<class name="com.biit.form.submitted.JsonTests" />
		</classes>
	</test>
</suite>

